body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* 배경 색상 추가 */
  margin: 0; /* 바디의 기본 마진 제거 */
}
.App {
  margin: 0 auto;
  width: 500px;
}

h1 {
  text-align: center;
  color: #333;
}

h3 {
  text-align: center;
  color: #333;
}

section {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: rgb(192, 150, 211);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #a55ebb;
}
